body{
    background-color: #FFF9F3;
    font-family: sans-serif;
}

.header{
    color: #97372f;
    text-align: center;
}

h5{
    margin-left: 1700px;
    margin-top: -50px;
    color: #97372f;
}

.nav-item{
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}

.item img{
    margin-top: 15px;
    width: 120px;
}

.item h2{
    text-align: center;
    position: relative;
    margin-top: 2rem;
    margin-left: 5px;
    color: #97372f;
}

/* banner */
.carousel-inner{
    height: 400px;
}

.title h3{
    margin-top: 30px;
}

.post h4{
    margin-top: 50px;
    margin-left: 590px;
}

.post h5{
    margin-top: 25px;
    margin-left: 590px;
    color: blue;
}

.detail h6{
    margin-left: 1000px;
}
